/*Settings of MarketPlace*/
.Menu-content_main{
    display: flex;
}
.Menu-content{
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    float: right;
    
    
}

li{
    justify-content: space-between;
    padding: 23px;
    
    
    
}
a:hover{
    color: orangered;
    list-style: none;
}
li:hover{
    text-decoration: none;
    list-style: none;
    
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Menu-button{
    display: none;
}

.cerrar-menu ,.abrir-menu{
    display: none;
}

@media screen and (max-width:550px){
    .abrir-menu {
        display: block;
        
    }
    .Menu-nav{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .Menu-navvisible{
        opacity: 1;
        visibility: visible;
    }

    .Menu-nav{

        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #e3fff3;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .Menu-content{
        flex-direction: column;
        align-items: end;
    }
}