footer{
    background-color: #ee4d2d;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-weight: bolder;
    display: flex;
    padding-left: 20px;
    cursor: pointer;
    gap: 95px;

}

.Footer-p{
    padding-top: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;

}