/*Default Settings*/

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body{
  background: #cdf7e5;
  font-family: 'Montserrat', sans-serif;
}

/*Header Logo and Tittle*/

.App-logo{
  width: 4%;
  position: absolute;
  display: flex;
}

.App-title{
  position: relative;
  padding-left: 55px;
  padding-top: 15px;
  color: black;
  
}

.App-title:hover{
  color: orangered;
  cursor: pointer;
}

.App-cart{
  display: flex;
  position: relative;
  align-self: center;
  width: 2%;
  float: right;
  top: 20px;
  right: 50px;
}

.App-login{
  display: flex;
  position: relative;
  align-self: center;
  width: 2%;
  float: right;
  top: 20px;
  right: 30px;
}


@media screen and (max-width: 730px){
  .App-cart{
    display: flex;
    position: relative;
    align-self: center;
    width: 4%;
    float: right;
    top: 20px;
    right: 50px;
  }
  .App-logo{
    width: 8%;
  }
  .App-login{
    width: 4%;
  }
}

@media screen and (max-width: 550px){
  .App-cart{
    display:none;
  }
  .App-login{
    display: none;
  }
}



/*Media Querys*/


@media screen and (max-width:550px){
  .App-logo{
    display: none;
  }
  .App-title{
    margin: 0;
    padding: 0;
  }
}

