/*Default Settings*/

*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body{
  background: #cdf7e5;
  font-family: 'Montserrat', sans-serif;
}

/*Header Logo and Tittle*/

.App-logo{
  width: 4%;
  position: absolute;
  display: flex;
}

.App-title{
  position: relative;
  padding-left: 55px;
  padding-top: 15px;
  color: black;
}

.App-title:hover{
  color: orangered;
  cursor: pointer;
}

@media screen and (max-width:550px){
  .App-logo{
    display: none;
  }
  .App-title{
    margin: 0;
    padding: 0;
  }
}

